# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
.venv/
.Python

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.mo
*.swp

# Static & Media (optional: agar cloudda bo‘lsa)
staticfiles/
media/

# VS Code
.vscode/
*.code-workspace

# Migrations (ixtiyoriy, agar har doim qayta yaratilsa)
**/migrations/
!*/migrations/__init__.py

# IDE'lar
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# dotenv or secrets
.env
.env.*
